/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background: black;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.container header {
  background: lightblue;
  width: 100%;
  height: 5em;
  box-shadow: inset 2px 2px 4px 3px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container header {
    height: 9em;
    align-items: center;
  }
}
.container header nav {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .container header nav {
    flex-flow: column nowrap;
    margin-top: 1em;
  }
}
.container header nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-family: "Gugi", cursive;
  text-shadow: 2px 2px 3px grey;
  margin-bottom: 0.6em;
  color: black;
  opacity: 0.8;
}
.container .content {
  max-width: 880px;
}
.container .content .top-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 3em;
}
@media (max-width: 500px) {
  .container .content .top-content {
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 2em;
  }
}
.container .content .top-content .intro {
  width: 48%;
  text-align: center;
}
@media (max-width: 500px) {
  .container .content .top-content .intro {
    width: 80%;
  }
}
.container .content .top-content .intro h1 {
  margin-bottom: 9%;
  color: white;
  font-size: 2em;
  font-family: "Gugi", cursive;
  text-shadow: 3px 3px 4px grey;
}
.container .content .top-content .intro p {
  color: white;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4em;
}
.container .content .top-content .intro-img {
  display: flex;
  width: 48%;
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .container .content .top-content .intro-img {
    justify-content: center;
    margin-top: 1em;
  }
}
.container .content .top-content .intro-img img {
  object-fit: scale-down;
  border-radius: 50%;
  box-shadow: 2px 2px 4px;
}
.container .content .middle-content {
  margin-top: 3em;
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 500px) {
  .container .content .middle-content {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
.container .content .middle-content .skills {
  text-align: center;
  width: 30%;
}
@media (max-width: 500px) {
  .container .content .middle-content .skills {
    width: 80%;
    justify-content: center;
  }
}
.container .content .middle-content .skills h2 {
  color: white;
  font-size: 1.3em;
  font-family: "Gugi", cursive;
  text-shadow: 2px 2px 3px grey;
  margin-bottom: 0.6em;
}
.container .content .middle-content .skills ul {
  display: inline-flex;
  flex-flow: column nowrap;
  list-style-type: circle;
  list-style-position: inside;
  margin-top: 0.5em;
}
.container .content .middle-content .skills ul li {
  text-align: center;
  margin-bottom: 0.7em;
  color: white;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4em;
}
.container .content .middle-content .work-history {
  text-align: center;
  width: 65%;
  margin-left: 2.5em;
}
@media (max-width: 500px) {
  .container .content .middle-content .work-history {
    margin-top: 1.5em;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
}
.container .content .middle-content .work-history h2 {
  color: white;
  font-size: 1.3em;
  font-family: "Gugi", cursive;
  text-shadow: 2px 2px 3px grey;
  margin-bottom: 0.6em;
}
.container .content .middle-content .work-history p {
  color: white;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4em;
}
.container .content .middle-content .work-history a {
  margin-top: 1em;
  background: lightblue;
  display: inline-flex;
  height: 2em;
  width: 8em;
  font-family: "Gugi", cursive;
  font-size: 1.1em;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: underline;
  box-shadow: 1px 1px 4px 1px;
  text-shadow: 1px 1px 2px grey;
}
.container .content .middle-content .work-history a:hover {
  background: #4baac8;
  box-shadow: inset 1px 1px 2px 1px;
  cursor: pointer;
}
.container .content .bottom-content {
  margin-top: 3em;
  margin-bottom: 4em;
  display: flex;
}
@media (max-width: 500px) {
  .container .content .bottom-content {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
.container .content .bottom-content form {
  width: 48%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .content .bottom-content form {
    width: 80%;
  }
}
.container .content .bottom-content form .fields {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.container .content .bottom-content form .fields .field {
  displa: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.container .content .bottom-content form .fields .field label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px grey;
  color: white;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4em;
}
.container .content .bottom-content form .fields .field input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 20em;
  border: 1px solid black;
  box-shadow: 1px 1px 2px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8em;
  padding: 0.3em;
}
.container .content .bottom-content form .fields .field textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
  width: 20em;
  box-shadow: 1px 1px 2px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8em;
  padding: 0.5em;
}
.container .content .bottom-content form .actions input {
  background: lightblue;
  display: inline-flex;
  height: 2em;
  width: 8em;
  font-family: "Gugi", cursive;
  font-size: 1.1em;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: underline;
  box-shadow: 1px 1px 4px 1px;
  text-shadow: 1px 1px 2px grey;
  margin-top: 0.7em;
}
.container .content .bottom-content form .actions input:hover {
  background: #4baac8;
  box-shadow: inset 1px 1px 2px 1px;
  cursor: pointer;
}
.container .content .bottom-content .social-media {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container .content .bottom-content .social-media .links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.container .content .bottom-content .social-media .links a {
  width: 3.7em;
  height: 3.7em;
  margin-top: 3.2em;
}
.container .content .bottom-content .social-media .links a img {
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 1px 1px 3px;
  width: 3em;
  height: 3em;
  object-fit: scale-down;
}
.container .content footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.container .content footer a {
  color: white;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4em;
  text-decoration: none;
  opacity: 0.8;
}
